body {
  padding-top: 70px;
}

.footer {
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px #e5e5e5 solid;
}

.top-users .caption {
  overflow: hidden;
}

.hidden {
  display: none;
}

.panel {
  border-radius: 4px;
  border: 1px #e5e5e5 solid;
  background: #fafafa;
  padding: 10px;
}

.note {
  color: #555;
  font-style: italic;
}

#loading {
  font-size: 30pt;
  text-align: center;
}
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

form .check {
  display: inline-block; 
  vertical-align: middle; 
  font-size: 26px;
  padding: 0 8px;
  color: #419641;
}

.photo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.photo-list .photo {
  width: 33%;
}
.photo-list .thumbnail {
  margin: 4px;
}
@media (min-width: 992px) {
  .photo-list .photo {
    width: 25%;
  }
}
@media (max-width: 580px) {
  .photo-list .photo {
    width: 50%;
  }
}

/**
 * Bootstrap callouts
 */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-success {
  background-color: #dff0d8;
  border-color: #b5dca5;
}

.bs-callout-danger h4 {
  color: #B94A48;
}

.bs-callout-warning h4 {
  color: #C09853;
}

.bs-callout-info h4 {
  color: #3A87AD;
}

.bs-callout-success h4 {
  color: #3c763d;
}


.bs-callout.pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  word-break: break-all;
  word-wrap: break-word;
}



/* photo stacks */
.photo-img.multi {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border: 6px solid #fff;
}
.photo-img.multi img {
  border-radius: 0;
}
.photo-img.multi:before {
  content: "";
  height: 200px;
  width: 200px;
  background: #eff4de;
  border: 6px solid #fff;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

	position: absolute;
	z-index: -1;
	top: 0px;
  left: -10px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.photo-img.multi::after {
	content: "";
	height: 200px; width: 200px;
	background: #768590;
	border: 6px solid #fff;
	position: absolute;
	z-index: -1;
	top: 19px;
	left: 19px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	transform: rotate(6deg);
}
